.DS_Store
/coverage.data
/coverage/
.coverage
htmlcov/
.idea
.vscode
*.suo
.ntvs
*.njsproj
*.sln
*.log
logs
static/
.env
.envdev
.venv
*.sqlite3
*pyc
.ipynb_checkpoints
*.ipynb
celerybeat*
api.log
worker.log
beat.log
media/
__pycache__/
.pre-commit-config.yaml
.Python
*.pyc
*.pyo
.venv/
.vscode/
.idea/
.pytest_cache/
.mypy_cache/
.pyright/
.black
