SECRET_KEY=
DEBUG=True
ALLOWED_HOSTS=*
DATABASE_URL=postgres://USER:PASSWORD@HOST:PORT/DATABASE
LANGUAGE_CODE=pt-br
TIME_ZONE=America/Cuiaba
EXPIRATION_DELTA=1
REFRESH_EXPIRATION_DELTA=7
FIREBIRD_URL=

MAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
MAIL_HOST=
MAIL_DEFAULT_FROM=noreply@hifuzion.com.br
MAIL_SERVER=hifuzion.com.br
MAIL_HOST_USER=
MAIL_HOST_PASSWORD=
MAIL_PORT=
MAIL_USE_TLS=False